<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{{ '/assets/css/welfin.css' | relative_url }}">
<script src="{{ '/assets/js/dark-mode.js' | relative_url }}"></script>
<meta property="og:image" content="{{ page.image | default: site.icon }}">
<meta property="twitter:title" content="{{ page.title }} | welfin" />
<meta name="twitter:title" content="{{ page.title }} | welfin" />
<meta property="twitter:description" content="personal finance companion designed to help you develop good financial habits and grow your wealth" />
<meta name="twitter:description" content="personal finance companion designed to help you develop good financial habits and grow your wealth" />
<meta property="twitter:image" content="{{ page.image | default: site.icon }}">
