<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{{ '/assets/css/welfin.css' | relative_url }}">
<script src="{{ '/assets/js/dark-mode.js' | relative_url }}"></script>
<meta property="og:image" content="{{ page.image | default: site.icon }}">
<meta name="twitter:title" content="{{ page.title }} | welfin" />
<meta name="twitter:card" content="summary">personal finance companion designed to help you develop good financial habits and grow your wealth</meta>
<meta name="twitter:site" content="@rzndwb" />
<meta name="twitter:creator" content="@rzndwb" />
<meta name="twitter:image" content="{{ '/assets/css/welfin.css' | relative_url }}" />
