.main-menu {
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
    margin-top: 24px;
}

.button {
    display: flex;
    align-items: center;
    padding: 8px 18px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.button:hover {
    opacity: 0.8;
}

.download-button {
    color: white;
    background-color: #22415D;
}

.download-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    margin-top: 18px;
}

@media (max-width: 768px) {
    .download-buttons {
        flex-direction: column;
        gap: 12px;
    }
}

@media (max-width: 480px) {
    .download-buttons {
        gap: 10px;
    }
}

.welfin-icon {
    height: 128px;
    border-radius: 10%;
    display: block;
    margin: 0 auto;
}

.qr-scan {
    height: 256px;
}

.store-icon {
    height: 64px;
    margin-right: 8px;
    margin-left: 8px;
}

.store-button:hover {
    opacity: 0.8;
}
